# R, rstudio and markdown
# History files
**/.Rhistory
# Output files from R CMD check
#/*.Rcheck/

# RStudio files
**/.Rproj.user
**/.Rproj
**/.RData
**/.Ruserdata

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
**/*_cache/
**/cache/
# Temporary files created by R markdown
**/.utf8.md
**/.knit.md

# Other files
/Figures
**/.directory
**/.dropbox
**/*.DS_Store*
.Rproj.user
**/*.docx
**/*.svg
**/*.eds
**/*.xls
**/*.xlsx

rsconnect/
1.Temperature/Temperature.html
2.Mortality/Mortatily_Acer.html
3.Growth/Acer_Growth_Genotypes.html
4.YII/YII_Acer.html

